name: Create Dist Branch

on:
  push:
    branches:
      - main

jobs:
  build-and-create-dist:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Install Composer dependencies
        run: composer install --no-progress --no-suggest --prefer-dist

      - name: Run build script
        run: php generate-stable.php

      - name: Commit and push dist folder to dist branch
        run: |
          git config user.name "rdelbem"
          git config user.email "rodrigodelbem@gmail.com"
          git checkout --orphan dist
          git --work-tree=dist add --all
          git --work-tree=dist commit -m "Add files to dist branch"
          git push origin HEAD:dist --force